<?xml version="1.0" encoding="UTF-8"?>
<web-app
    version="4.0"
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:javaee="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xml="http://www.w3.org/XML/1998/namespace"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
  <display-name>Archetype Created Web Application</display-name>
  
    <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>org.iant.study.servlet.HelloServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>param</servlet-name>
        <servlet-class>org.iant.study.servlet.Param</servlet-class>
    </servlet>
        <servlet>
        <servlet-name>Printcolor</servlet-name>
        <servlet-class>org.iant.study.servlet.Printcolor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>valid</servlet-name>
        <servlet-class>org.iant.study.servlet.Valid</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>task</servlet-name>
        <servlet-class>org.iant.study.servlet.task</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>param</servlet-name>
        <url-pattern>/param</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Printcolor</servlet-name>
        <url-pattern>/printcolor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>valid</servlet-name>
        <url-pattern>/valid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>task</servlet-name>
        <url-pattern>/task</url-pattern>
    </servlet-mapping>
           


</web-app>
